.post {
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 10px 10px 25px 10px;
}

.post:hover {
    background-color: #ddffdd;
}

.post-title {
    margin-top: 0;
    margin-bottom: 0;
}

.post-subtitle {
    margin-top: 0;
}

.post-body {
    margin-bottom: 10px;
}

.post-createDate {
    color: #999999;
}

.post-author {
    color: #5555ff;
}